body {
    background-color: #fff
}

#auth {
    height: 100vh;
    overflow-x: hidden
}

#auth #auth-right {
    height: 100%;
    background: url(../../images/bg/4853433.jpg), linear-gradient(90deg, #040404, #040404)
}

#auth #auth-right .card-body {
    flex: 1 1 auto;
    padding: 3rem;
    margin-bottom: 5rem;
    text-align: center;
}

#auth #auth-right .img-fluid img {
    max-width: 100%;
    height: auto;
}

#auth #auth-left {
    padding: 5rem 8rem
}

#auth #auth-left .auth-title {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: deeppink;
}

#auth #auth-left .auth-subtitle {
    font-size: 1.7rem;
    line-height: 2.5rem;
    color: #a8aebb
}

#auth #auth-left .auth-logo {
    margin-bottom: 5rem
}

#auth #auth-left .auth-logo img {
    height: 18rem
}

@media screen and (max-width:767px) {
    #auth #auth-left {
        flex: 1 1 auto;
        padding: 1.30rem;
    }
}