
h1 {
    margin: 0;
    line-height: 2;
    text-align: center;
}
h2 {
    margin: 0 0 0.5em;
    font-weight: normal;
}
input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.row {
    display: flex;
}
.row .col {
    flex: 1;
}
.row .col:last-child {
    margin-left: 1em;
}
/* Accordion styles */
.tabs {
    overflow: hidden;
    /* box-shadow: 0 4px 4px -2px rgb(0 0 0 / 50%); */
}
.tab {
    width: 100%;
    color: white;
    overflow: hidden;
    margin-bottom: 5px;
}
.tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: black;
    font-weight: bold;
    cursor: pointer;
}
/*.tab-label:hover {
    background: #1a252f;
}*/

.tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
}
.tab-content {
    max-height: 0;
    padding: 0 1em;
    color:#ffffff;
    background: #3f3f3f;
    transition: all 0.35s;
}
.tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: #2c3e50;
    cursor: pointer;
}
.tab-close:hover {
    background: #1a252f;
}
input:checked + .tab-label {
    background: #3F3F3F;
}
input:checked + .tab-label::after {
    transform: rotate(90deg);
}
input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
}
