.bg-img img {
    width: 100%;
    height: auto;
}

.bg-img {
    margin-top: 100px;
}

.bg-img {
    margin-top: 150px;
    /* position: relative; */
    /* left: 14%; */
    /* top: 18%; */
    margin-left: 23%;
}

.content-apropos p {
    font-size: 21px;
}

.header-p:after {
    content: "";
    width: 100%;
    height: 151vh;
    position: absolute;
    background: #000000a1;
    top: 0px;
}

.title h1 {
    text-align: left !important;
    line-height: 65px;
    text-transform: uppercase;
    font-size: 62px;
    font-weight: bold;
}

.simple-tt h5 {
    font-size: 30px;
}

.title {
    margin-bottom: 25px;
}

.btn-network {
    background: #E61873 !important;
    border-style: none;
    color: white;
    padding: 5px 18px 5px 18px;
    position: absolute;
    top: 615px;
    left: 560px;
    font-size: 20px;
    /* width: 37%; */
}

.header-p .nav-item .nav-link {
    font-size: 19px;
    margin-right: 75px;
    color: white;
    padding: 12px 9px 12px 9px;
    text-transform: uppercase;
}

.modal-- {
    text-align: center;
}

.btn-network:hover {
    background: #e61873;
}

.section-apropos {
    position: absolute;
    top: 40%;
    color: white;
    left: 6%;
    width: 82%;
}

.btn-network:active {
    background: #e61873;
    border-style: none;
}

.section-equipe {
    margin-top: 354px;
}

.img-teams img {
    width: 100%;
    height: auto;
}


/* section team */

.box {
    text-align: center;
    perspective: 50em;
    position: relative;
}

.box:after {
    content: "";
    display: block;
    background: #e61873;
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    transform: rotateX( 50deg);
    transform-origin: 0 0;
    transition: all 0.4s ease-in-out 0s;
}

.box:hover:after {
    transform: rotateX(0);
    opacity: 0.9;
}

.box img {
    width: 100%;
    height: auto;
}

.box .box-content {
    color: white;
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    opacity: 0;
    z-index: 1;
    transform: translate(10%, -50%);
    transition: all 0.2s ease-out;
}

.box:hover .box-content {
    opacity: 1;
    transform: translate(0, -50%);
    transition-delay: 0.2s;
}

.box .icon {
    display: block;
    font-size: 32px;
    margin-bottom: 10px;
}

.box .title {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 10px;
}

.box .post {
    display: block;
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
}

@media only screen and (max-width:990px) {
    .box {
        margin-bottom: 30px;
    }
}

.section-equipe .row {
    margin-top: 20px !important;
}