@import url('https://fonts.googleapis.com/css?family=Lato');
.for-contact .container {
    display: block;
    position: relative;
    margin: 40px auto;
    height: auto;
    width: 100%;
    padding: 20px;
}

.choice-service {
    margin-bottom: 50px;
}

h2 {
    color: #AAAAAA;
}

.for-contact .container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.sec ul li {
    /* color: #AAAAAA; */
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 100px;
    border: 1px solid #333;
    margin-bottom: 16px;
}

.sec ul li input[type=checkbox] {
    position: absolute;
    visibility: hidden;
}

.sec ul li label {
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 25px 25px 25px 80px;
    margin: 10px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

.sec ul li:hover label {
    color: #151414;
}

.sec ul li .check {
    display: block;
    position: absolute;
    border: 5px solid #252121;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    top: 30px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.sec ul li:hover .check {
    border: 5px solid #151414;
}

.sec ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 20px;
    width: 20px;
    top: 5px;
    left: 5px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

input[type=checkbox]:checked~.check {
    border: 5px solid #E61873 !important;
}

input[type=checkbox]:checked~.check::before {
    background: #E61873;
}

input[type=checkbox]:checked~label {
    color: #E61873 !important;
}

.signature {
    margin: 10px auto;
    padding: 10px 0;
    width: 100%;
}

.signature p {
    text-align: center;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 0.85em;
    color: #AAAAAA;
}

.signature .much-heart {
    display: inline-block;
    position: relative;
    margin: 0 4px;
    height: 10px;
    width: 10px;
    background: #AC1D3F;
    border-radius: 4px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.signature .much-heart::before,
.signature .much-heart::after {
    display: block;
    content: '';
    position: absolute;
    margin: auto;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: #AC1D3F;
    top: -4px;
}

.signature .much-heart::after {
    bottom: 0;
    top: auto;
    left: -4px;
}

.signature a {
    color: #AAAAAA;
    text-decoration: none;
    font-weight: bold;
}


/* Styles for alert...
by the way it is so weird when you look at your code a couple of years after you wrote it XD */

.alert {
    box-sizing: border-box;
    background-color: #BDFFE1;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 300;
    padding: 20px 40px;
    color: #333;
}

.alert h2 {
    font-size: 22px;
    color: #232323;
    margin-top: 0;
}

.alert p {
    line-height: 1.6em;
    font-size: 18px;
}

.alert a {
    color: #232323;
    font-weight: bold;
}

.title-choice {
    text-align: center;
}

.title-choice p {
    font-size: 24px;
}


/*formulaires page contact */

.formBox h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 48px;
}

.inputBox {
    position: relative;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.inputBox .inputText {
    position: absolute;
    font-size: 24px;
    line-height: 50px;
    transition: .5s;
    opacity: .5;
}

.inputBox .input {
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}

.focus .inputText {
    transform: translateY(-30px);
    font-size: 18px;
    opacity: 1;
    color: #00bcd4;
}

textarea {
    height: 100px !important;
}

.for-contact .button {
    width: 20%;
    height: 50px;
    border: none;
    outline: none;
    background: black;
    color: #fff;
    margin-top: -4px;
}

.for-contact {
    background: #ECECEC;
    padding-top: 50px;
    padding-bottom: 5px;
}


/* update contact page */

.header-c:after {
    content: "";
    width: 100%;
    height: 649px;
    position: absolute;
    background: #000000a1;
    top: 0;
}

.header-c .nav-item .nav-link {
    font-size: 19px;
    margin-right: 75px;
    color: white;
    padding: 12px 9px 12px 9px;
}

.i--g img {
    width: 100%;
    height: auto;
}

.search img {
    width: 100%;
}

.search {
    margin-bottom: 50px;
}

.title-choice h1 {
    margin-bottom: 35px;
}


/* que recherchez vous style */

.sec-upd input[type=radio]:checked~.check {
    border: 5px solid #E61873 !important;
}

.sec-upd input[type=radio]:checked~.check::before {
    background: #E61873;
}

.sec-upd input[type=radio]:checked~label {
    color: #E61873 !important;
}

.sec-upd .sec ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
}

.sec-upd .sec ul li {
    /* color: #AAAAAA; */
    display: block;
    position: relative;
    float: left;
    width: 539px;
    right: 8%;
    height: 100px;
    background: black;
    border: 1px solid #333;
    margin-bottom: 16px;
}

.sec-upd .sec ul li .check {
    display: block;
    position: absolute;
    border: 5px solid #ffffff;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    top: 30px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.sec-upd .sec ul li label {
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 25px 25px 25px 80px;
    margin: 10px auto;
    height: 30px;
    bottom: 19px;
    color: white;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

.sec-upd .sec ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 20px;
    width: 20px;
    top: 5px;
    left: 5px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.new-sec .simple-tt {
    text-align: center;
}

.new-sec .title h1 {
    text-align: center !important;
    line-height: 65px;
    text-transform: uppercase;
    font-size: 62px;
    font-weight: bold;
}

.for-contact .button:hover {
    background: white;
    color: black;
    border: 1px solid black;
    transition: .3s ease all;
}

.img-second img {
    width: 97%;
}

.sec-second .sec ul li {
    /* color: #AAAAAA; */
    display: block;
    position: relative;
    float: left;
    width: 525px;
    right: 8%;
    height: 100px;
    background: black;
    border: 1px solid #333;
    margin-bottom: 16px;
}