/* default section */

.content-section {
    margin-bottom: 77px;
}


/* style navbar */

img.home-logo {
    width: 42%;
    height: auto;
}

.header .nav-item .nav-link {
    font-size: 19px;
    margin-right: 75px;
    color: white;
    padding: 12px 9px 12px 9px;
}

.btn-rejoindre {
    background: #E61873;
    color: white;
}

.menu-header {
    position: absolute;
    width: 100%;
    background: transparent !important;
    z-index: 99;
}


/*.item-menu {
    margin-left: 175px;
}

.btn-nr {
    margin-left: 230px;
}*/

.item-menu {
    position: relative;
    left: 75px;
}


/* style vidéo bg */

#myVideo {
    min-width: 100%;
}

.video-bg {
    height: 45em;
    position: relative;
    overflow-y: hidden;
    padding-top: 0;
    padding-bottom: 0;
    z-index: -99;
}

.header:after {
    content: "";
    width: 100%;
    height: 721px;
    position: absolute;
    background: #000000a1;
    top: 0;
}

/* Section agence */

.btn-black {
    margin-top: 15px;
    background: black;
    color: white;
    padding: 12px 9px 12px 9px;
    border-style: none;
}

h1.title- {
    text-align: left;
    color: #707070;
}

.img-agency img {
    width: 100%;
    height: auto;
}

.S-img2 img {
    width: 100%;
    height: auto;
}

.S-img1 img {
    width: 100%;
    height: auto;
}

.sous-img {
    margin-top: 15px;
}

.txt-agency p {
    font-size: 25px;
}

button.btn-black:hover {
    background: white;
    color: black;
    border: 1px solid black;
    transition: .3s all ease;
}


/* section réalisation */

.section-realisation {
    background: #E1E1E1;
    padding: 15px 0px 15px 0px;
}

.img-realisation img {
    width: 100%;
    height: auto;
}

h4.title-campagne {
    font-size: 31px;
    text-transform: uppercase;
    color: #707070;
    font-weight: 600;
    margin-top: 4px;
    margin-bottom: 32px;
}

p.description {
    font-size: 18px;
}

span.style-content {
    font-weight: bold;
}

.content-realisation ul {
    list-style: none;
    padding: 0;
}

.content-realisation ul li {
    margin-bottom: 14px;
    font-size: 21px;
}


/* .section-realisation .owl-dots {
    display: none;
} */

#tab-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

#tab-container .tab-content {
    display: none;
    padding: 20px 0 0;
}

#tab-container input {
    display: none;
}

#tab-container input:checked+label {
    color: #bd235d;
}

#tab-container label {
    display: inline-block;
    padding: 0 25px;
    font-weight: 600;
}

#tab-container label:not(:first-of-type) {
    border-left: 2px solid #991a48;
}

@media screen and (max-width: 480px) {
    #tab-container label:not(:first-of-type) {
        border-left: none;
    }
}

@media screen and (max-width: 480px) {
    #tab-container label {
        display: block;
    }
}

#tab-container label:hover {
    color: #bd235d;
    cursor: pointer;
}

#tab-container #tab1:checked~#content1 {
    display: block;
}

#tab-container #tab2:checked~#content2 {
    display: block;
}

#tab-container #tab3:checked~#content3 {
    display: block;
}

#tab-container #tab4:checked~#content4 {
    display: block;
}

#tab-container .card-body {
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#tab-container .card-body .card-title {
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

#tab-container .card-body .card-description {
    padding-bottom: 20px;
}

#tab-container .card-body .card-link {
    padding-bottom: 20px;
    text-transform: uppercase;
    color: #bd235d;
    display: block;
}

.section-realisation .tab-content {
    background: none;
}

.content-realisation {
    color: black;
    text-align: left;
}

.section-realisation .owl-nav button span {
    color: black;
}


/* footer style */

.footer- {
    background: black;
    padding: 20px 0px 0px;
    color: white;
}

.sec-footer-1 {
    text-align: center;
}

.footer- a {
    font-size: 40px;
    color: #E61873;
    font-weight: 700;
}

.footer- a:hover {
    text-decoration: none;
}

.tab__content .owl-nav {
    display: none;
}

.sec-footer-1 h6 {
    position: relative;
    top: 13px;
    font-size: 18px;
    font-weight: 100;
}

.t- {
    text-align: center;
    margin: 20px 0px 20px 0px;
    font-size: 43px;
    font-weight: 100;
}

.logo img {
    width: 61%;
    height: auto;
}

.logo {
    position: relative;
    left: 25%;
    bottom: 8%;
}

.link-to a {
    font-size: 19px;
    color: white;
    font-weight: 400;
}

.link-to ul {
    list-style: none;
    padding: 0px;
}

.map ul {
    list-style: none;
    padding: 0;
}

.map ul li {
    margin-bottom: 15px;
    font-size: 18px;
}

.mentions {
    text-align: right;
}

.link-to li {
    margin-bottom: 11px;
}

.rs-footer ul li a {
    font-size: 20px;
}

.rs-footer ul li {
    display: inline-block;
    margin-right: 13px;
}

.rs-footer {
    margin-left: 103px;
}

.rs-footer ul {
    list-style: none;
    padding: 0;
}

.sec-footer-3 {
    border-top: 1px solid white;
    padding: 12px 10px 12px 10px;
    margin-right: 0px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none !important;
    color: #FFF;
    text-decoration: none;
}


/* project style */

.project-sec .wrapper {
    margin: 30px auto;
    width: 80%;
    font-family: sans-serif;
    color: #555;
    font-size: 14px;
    line-height: 24px;
}

.project-sec h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.project-sec h1+p {
    text-align: center;
    margin: 20px 0;
    font-size: 16px;
}

.project-sec .tabs li {
    float: left;
    width: 20%;
}

.project-sec .tabs a {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 20px 0;
    /* border-bottom: 2px solid #888; */
    /* background: #f7f7f7; */
}

.project-sec .tabs a.active {
    background: #E61873;
    color: white;
}

.project-sec .clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.project-sec .owl-nav {
    display: none;
}

.project-sec .wrapper ul li {
    list-style: none;
}


/* Partenaire style project */

#container-partenaire {
    height: 280px;
    position: relative;
    overflow: hidden;
}

.photobanner {
    position: absolute;
    display: flex;
    margin: 10px 0px;
    overflow: hidden;
    white-space: nowrap;
    animation: bannermove 10s linear infinite;
}

.photobanner:nth-of-type(2n) {
    animation-direction: reverse;
}

.photobanner img {
    margin: 0 0.5em
}

@keyframes bannermove {
    0% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

.photobanner img {
    margin: 0 0.5em;
    width: 2010px;
}

.section-realisation {
    margin-bottom: 0px !important;
}

.partenaire-section {
    position: relative;
}

.txt--partenaire {
    width: 500px;
    color: white;
    background: black;
    position: absolute;
    top: 155px;
    left: 102px;
    z-index: 99;
}

.txt--partenaire h1 {
    font-size: 51px;
    font-weight: bold;
    padding: 14px;
}