.section-services img {
    width: 100%;
    height: auto;
}

.section-services {
    margin-top: 393px;
    margin-bottom: 130px;
}
.line {
    margin-bottom: 50px;
}

.section-services h1 {
    color: black;
    font-weight: bold;
}

.section-services p {
    font-size: 23.5px;
}

.content-relation p {
    font-size: 19px;
}

.content-relation h1 {
    text-align: center;
}

.tt-comm h1 {
    text-align: center;
}

.section-services h2 a {
    color: #e61873;
}

.section-services h2 a:hover {
    text-decoration: none;
}


/* footer top style */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.scroll- {
    overflow: hidden;
    display: flex;
    width: 100%;
    position: absolute;
    top: -95px;
    transform: translateY(-50%);
    /* transform: rotate(
90deg); */
}
.txt {
    white-space: nowrap;
    font-size: 200px;
    animation: scrollTxt 30s linear infinite;
}

.slide-devis {
    position: relative;
    margin-bottom: 250px;
    margin-top: 202px;
}

.txt a {
    color: #E61873;
    text-decoration: none;
}

.txt a:hover {
    text-decoration: none;
}

@keyframes scrollTxt {
  0%{
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0%, 0);
  }
}

.footer-update {
    margin-top: 305px;
}


